<h1> <%= @list.user.name %>'s List (for <%= @list.group.name %>)</h1>

<%= link_to 'New List Item', new_item_path(list_id: @list.id, group_name: @list.group.name), class: 'btn btn-primary', title: "Creates a new item for this list" %>
<br><br>

<table class="table">
  <tr>
    <th>Description</th>
    <th>URL</th>
    <th>Edit</th>
    <th></th>
  </tr>

  <% @list.items.each do |item| %>
    <tr>
      <td><%= item.description %></td>
      <td><a target="_blank" rel="noopener noreferrer" href=<%=item.url%>><%=item.url%></a></td>
      <td><%= link_to "Edit", edit_item_path(item)  %></td>
    </tr>
  <% end %>
</table>
