<h1> <%= @list.user.name %>'s List (for <%= @list.group.name %>)</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>URL</th>
    <th>available?</th>
    <th></th>
  </tr>

  <% @list.items.each do |item| %>
    <tr>
      <td><%= link_to item.name, item_path(item) %></td>
      <td><%= item.description %></td>
      <td><%= item.url %></td>
      <td><%= item.available? %></td>
      <% if item.available? %>
        <td><%= link_to 'Claim', item_claim_path(item), method: :put, class: 'btn btn-primary' %></td>
      <%end %>
    </tr>
  <% end %>
</table>
